In [62]:
import pandas as pd
import numpy as np
from scipy import stats

In [72]:
st=pd.read_excel("D:\AI&ML-Session\Stats.xlsx",index_col=0)

In [70]:
np.mean(st)

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

In [90]:
st.mean()

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

In [93]:
st.median()

YearsOfExp           7.0
Salary in Rs.    87654.0
dtype: float64

In [91]:
st.mode()

   YearsOfExp  Salary in Rs.
0          10         100639

In [97]:
dev=np.array(st)

In [98]:
np.median(dev)

6304.0

In [99]:
stats.mode(dev)

ModeResult(mode=array([[    10, 100639]], dtype=int64), count=array([[5, 2]]))

In [103]:
print("Standard Deviation is",np.std(dev))

Standard Deviation is 47706.95058385099

In [102]:
print("Variance is:",np.var(dev))

Variance is: 2275953134.01

In [105]:
a=np.var(dev,axis=0)

In [106]:
a

array([9.68000000e+00, 1.52431915e+09])